/* Filename: help.css
   Authors: Justin Nichols (jdnscience), Charles McLean (mcharlie)
   Class: CSc 337 Summer 2020
   Description: This file contains the styling rules specific to the
        help.html page, such as styling the game command explanations.
*/

ul {
    margin: 10px 30px 30px;
    list-style: circle;
}

li {
    margin-bottom: 10px;
}
