/* Filename: home.css
   Authors: Justin Nichols (jdnscience), Charles McLean (mcharlie)
   Class: CSc 337 Summer 2020
   Description: This file contains the styling rules specific to the home.html
        page, such as styling the game input and output sections.
*/

* {
    box-sizing: border-box;
}

label {
    font-family: Courier, monospace;
    font-size: 27px;
    font-weight: bold;
    color: #99B3E6;
}

.outputWindow {
    margin: 0 auto;
    padding: 20px;
    width: 40%;
    height: 100%;
    border: 5px solid darkgoldenrod;
    text-align: center;
    overflow: auto;
    background-size: cover;
}

.pkmnContainer {
    width: 100%;
    height: 238px;
    margin: 0 auto;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    font-family: Courier;
}

#ew {
    background-image: url('./img/bg/kanto.png');
}

#mw {
    background-image: url('./img/bg/city.png');
}

#bw {
    background-image: url('./img/bg/stadium.png');
}

#msg, #encounter, .xArea {
    padding: 15px;
    font-family: Courier;
    background-color: rgba(255, 255, 255, 0.8);
}

#msg {
    margin: 15px auto 23px auto;
    width: 75%;
    font-size: 28px;
}

#eArea, #mArea {
    margin: 0 auto 23px auto;
    width: 45%;
    font-size: 25px
}

#gameSection {
    width: 100%;
    height: calc(100% - 195px);
    color: black;
}

#outputSection {
    width: 100%;
    height: calc(100% - 220px);
    padding: 20px;
}

#inputSection {
    padding-top: 60px;
    width: 100%;
    height: 220px;
    background-color: #8F2432;
}

#commandSection {
    margin: 0 auto;
    width: 750px;
}

#command {
    margin-right: 25px;
    width: 470px;
    font-family: Courier, monospace;
    font-size: 27px;
}

#commandBtn {
    font-size: 27px;
}
