/* Filename: style.css
   Authors: Justin Nichols (jdnscience), Charles McLean (mcharlie)
   Class: CSc 337 Summer 2020
   Description: This file contains the general styling rules for the entire
        site. Rules that are more specific to individual pages or elements can
        be placed into a separate CSS file and linked to in addition to this
        file.
*/

html, body {
    margin: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #5B1D72;
}

header {
    padding-left: 30px;
    width: 100%;
    height: 135px;
    color: #99B3E6;
    background-color: #315436;
    box-sizing: border-box;
    line-height: 130px;
}

header > * {
    margin-top: 10px;
}

nav {
    display: inline;
    margin: 0 30px;
}

a {
    margin: 0 10px;
    line-height: 130px;
    font-size: 24px;
    text-decoration: none;
    color: #99B3E6;
}

h1 {
    display: inline-block;
    margin: 0 10px;
    font-size: 3em;
}

h2 {
    margin: 0;
    line-height: 100px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin-bottom: 30px;
}

label {
    display: inline-block;
    width: 150px;
}

input {
    font-size: 24px;
}

.explanation {
    margin: 30px auto;
    padding: 20px;
    width: 1000px;
    border: 2px solid darkgoldenrod;
    border-radius: 10px;
}

.cmd {
    font-family: Courier, monospace;
    font-weight: bold;
}

.inputSection {
    margin-left: 30px;
    margin-bottom: 75px;
    color: silver;
}

#mainContent {
    color: silver;
    font-size: 1.5em;
    overflow: auto;
}

#pokeballHeader {
    position: relative;
    top: 14px;
    height: 75px;
}

#issueMsg {
    color: red;
}
