/* Filename: style.css
   Authors: Justin Nichols (jdnscience), Charles McLean (mcharlie)
   Class: CSc 337 Summer 2020
   Description: This file contains the general styling rules for the entire
        site. Rules that are more specific to individual pages or elements can
        be placed into a separate CSS file and linked to in addition to this
        file.
*/

html, body {
    margin: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #ffccff;
}

nav {
    display: inline;
    margin: 0 30px;
}

a {
    margin: 0 10px;
    line-height: 130px;
    font-size: 16px;
    text-decoration: none;
    color: #1a66ff;
}

h1 {
    display: inline-block;
    margin: 0 10px;
}

h2 {
    margin: 0;
    line-height: 100px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin-bottom: 30px;
}

label {
    display: inline-block;
    width: 100px;
}

input {
    font-size: 16px;
}

.explanation {
    margin: 30px auto;
    padding: 20px;
    width: 1000px;
    border: 2px solid #ff3333;
    border-radius: 10px;
}

.cmd {
    font-family: Courier, monospace;
    font-weight: bold;
}

.inputSection {
    margin-left: 30px;
    margin-bottom: 75px;
}

#top {
    padding-left: 30px;
    width: 100%;
    height: 130px;
    color: #1a66ff;
    background-color: #ccffff;
    box-sizing: border-box;
    line-height: 130px;
}

#pokeballHeader {
    position: relative;
    top: 14px;
    width: 50px;
}

#issueMsg {
    color: red;
}

